<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab_Project"
        tools:targetApi="31">
        <activity
            android:name=".Accounting"
            android:exported="false" />
        <activity
            android:name=".Finance"
            android:exported="false" />
        <activity
            android:name=".Welcome_page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authentication_page"
            android:exported="false" />
        <activity
            android:name=".Spinner_page"
            android:exported="false" />
        <activity
            android:name=".Matrix_Calculator"
            android:exported="false" />
        <activity
            android:name=".guessingGame"
            android:exported="false" />
        <activity
            android:name=".Currency_Converter"
            android:exported="false" />
    </application>

</manifest>